<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987328309283-696aa0o0begrdsas9rlg6t9nlsi2cesc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987328309283-696aa0o0begrdsas9rlg6t9nlsi2cesc</string>
	<key>API_KEY</key>
	<string>AIzaSyDEvdeg9_kx31IgsPWopwghIn-4SeVzY2c</string>
	<key>GCM_SENDER_ID</key>
	<string>987328309283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wissal</string>
	<key>PROJECT_ID</key>
	<string>wissal-ff41e</string>
	<key>STORAGE_BUCKET</key>
	<string>wissal-ff41e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987328309283:ios:3dfbaa347c7239e5af2996</string>
</dict>
</plist>